.superadmin-layout {
  display: flex;
  min-height: 100vh;
  background: #F8F9FA;
}

.main-content {
  flex: 1;
  margin-left: 260px;
  overflow-x: hidden;

  @media (max-width: 768px) {
    margin-left: 0;
  }
}